<div class="text-center">
    <h1 class="display-4">Soy Sebastián Giraldo</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript</h2>
    <img src="~/Imagenes/Foto.jpeg" alt="Foto de Sebastián" id="foto" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>Last semester engineering student, capable of leading and solving problems efficiently and effectively. I have values ​​such as entrepreneurship, discipline, responsibility, honesty and teamwork. I consider myself as a person with a high facility to assume responsibilities and learn new theoretical and practical skills; I have structuring skills and I know the following programming languages: JavaScript, HTML 5, CSS 3 ​​and basic Python.</p>
    </div>
</div>
